
  
  /* Estilo para o contêiner de login */
  .container-dados-rec {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    background-color: #fff; /* Fundo branco */
    border-right: 5px solid #333; /* Borda direita para separar os contêineres */
    padding: 100px;
    font-family: 'SFProDisplay-Regular';
    border-radius: 0px 33px 33px 0px;
  }
  
  /* Estilo para o contêiner de Lottie */
  .lottie-container { 
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333; /* Fundo preto */
    color: #ffffff;
  }
  
  .div-solicitar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }