.agendamento-container {
    margin: 20px auto;
    border-radius: 8px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    border: 1px solid #40404030;
  }
  
  .agendamento-container.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  .header {
    background-color: #3174ad; /* Cor esverdeada */
    padding: 20px;
    color: white;
  }
  
  .content {
    background-color: white;
    padding: 20px;
    color: #333;
  }
  
  h2 {
    margin: 0;
    font-size: 1.5em;
  }
  
  p {
    margin: 10px 0;
    font-size: 1em;
  }
  