/* Dashboard.css */

.container.breadcrumb {
    margin-bottom: 30px;
}

@media (max-width: 600px) {
    .container,
    .container.breadcrumb {
        margin: 16px;
    }
    .container.breadcrumb {
        margin-bottom: 16px;
    }
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-container {
    display: flex;
    height: 100vh;
}

.chat-sidebar {
    width: 30%;
    padding: 5px;
    background-color: #f5f5f5;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

.chat-header {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
    font-weight: bold;
}

.chat-list {
    flex-grow: 1;
    overflow-y: auto;
}

.chat-content {
    width: 70%;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.chat-block {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.message-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.message-user {
    font-weight: bold;
}

.message-time {
    font-size: 12px;
    color: #999;
}

.message-text {
    font-size: 14px;
}

.no-chat-selected {
    font-size: 16px;
    color: #666;
    text-align: center;
    margin-top: 50%;
}

.search-div {
    padding: 5px;
}

.search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f0f0f0; /* cor de fundo similar à imagem */
    color: #333;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar::placeholder {
    color: #aaa; /* cor do texto do placeholder */
  }
  
  .search-bar:focus {
    outline: none;
    border-color: #bbb; /* cor da borda ao focar */
  }

  .message-input-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
  
  .message-input {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .message-input .MuiOutlinedInput-root {
    padding: 10px;
    font-size: 14px;
  }
  
  .message-input .MuiInputAdornment-root {
    color: #aaa;
  }
  
  .message-input .MuiIconButton-root {
    padding: 5px;
  }