.container.breadcrumb {
    margin-bottom: 30px;
}

@media (max-width: 600px) {
    .container,
    .container.breadcrumb {
        margin: 16px;
    }
    .container.breadcrumb {
        margin-bottom: 16px;
    }
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-bem-vindo {
    margin-bottom: 10px;
}

.text-bem-vindo {
    font-size: 22px !important;
    font-weight: bold !important;
}

.linha-bloco {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    height: 45%;
    margin-bottom: 15px;
}