.sidebar {
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  min-width: 15vw;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  padding: 20px;
  text-align: center;
}

.logo img {
  width: 100px;
}

nav ul {
  list-style: none;
  padding: 0;
}

.nav-group-itens {
  height: 100%;
  width: 18vw;
  display: flex;
  justify-content: center;
}

.nav-ul-itens {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  cursor: pointer;
  width: 100%;
}

.nav-item img {
  width: 24px;
  margin-right: 10px;
}

.nav-item span {
  font-size: 16px;
  color: #333;
}

.nav-item.active {
  width: 100%;
  border-radius: 8px;
}

.nav-item.active span {
  color: white;
}

.nav-item .seta {
  margin-left: auto;
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

.group-user-profile {
  display: flex;
  flex-direction: row;
  margin: 15px;
}

.user-profile {
  display: flex;
  align-items: center;
  padding: 20px;
}

.user-profile img {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info {
  align-items: center;
  display: flex;
}

.user-info span {
  display: block;
  font-weight: bold;
  font-size: 16px;
  color: #888;
}
